
.header {
    display: flex;
    background: #16e7e7fb;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 60px;
  }
  .logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:#120052
  }
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 45px;
    height: 45px;
  }
  .nav-options {
    padding-left: 25px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 50px;
    list-style-type: none;
  }
  .mobile-option {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  li {
      margin:1em;
      
  }
  li a{
      text-decoration: none;
      color:#120052;
  }
  .option :hover {
    color: white;
  }
  .signin-up {
    display: flex;
    padding: 0px 5px;
    list-style-type: none;
  }
  .sign-in {
    padding-right: 50px;
    align-self: center;
  }
  .sign-in :hover {
    color: white;
  }
